html,
body {
    scroll-behavior: smooth;
    background: #DBDBDB;
    margin: 0;
}

header {
    width: 1159px;
    height: 106px;
    margin: auto;
	background: black;
    }
.logo {
    margin: 20px 0px 0 50px;
}
#container  {
    width: 1160px;
    height: 5665px;
    margin: auto;
    
    background: #ffffff;
  }
.menu-primary, .menu-item, .menu-item-a {
    display: inline;
    float: right;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 700;
    color: white;
    padding: 8px;
    margin-right: 15px;
    text-decoration: none;
    list-style-type: none;
    }
.p2-intro {
    width: 1160px;
    height: 800px;
}
.p2-intro-img {
    width: 896px;
    height: 215px;
    margin: 134px 9px 10px 120px;
}
.intro-tit {
    
    text-align: center;
    margin: 50px;
}
.text-intro {

    margin: 0 170px 20px 170px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";  
}
.list-tit {
    
    text-align: center;
    padding: 15px;
}
.feature-list {
     margin: 26px 0 0 424px;
}
.button-one {
    display: inline;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight:bold;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
    list-style-type: none;
    background-color:#2FBB00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:.9em;
}
.button-one:hover {
	background-color:#5cbf2a;
}
.graph-figure {
    
    width: 1160px;
    height: 650px;
    background: black;
    margin: auto;
}
.graph-tit-b {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: center;
    padding-top: 25px;
    font-size: 1.8em;
}
.graph-para {
    
    color: white;
    margin: auto;
    width: 600px;
}
 .pie {
  content: close-quote;     
  width: 325px;
  height: 325px;
  border-radius: 50%;
  background: #4B4E4A;
  margin: 66px 0 0 172px;     
}
.inner-pie {
        
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";    
    text-align: center;
    color: #ffff;
    padding: 69px;
    font-size: 1.5em;
}
.pie-animted {
    
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #4B4E4A;
    position: relative;
    bottom: 300px;
    right: 187px;
}
/*styling for the js chart*/


/*End of js chart styling*/

.about-customer-tit {
   font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";    
   text-align: center;
   padding: 35px 0 10px 0; 
   width: 1160px;    
}

.about-customer {
    width: 734px;
    margin: auto;
    padding: 20px 0 52px 123px;
}
/*FLEXBOX*/
.list-of-videos {

    position: absolute; 
    display: flex;
    flex-flow: row wrap;
    width: 1160px;
}

.floy-andrews {
    flex-basis: 454px;
    margin: 21px 35px 0 73px;
    
}
.paragraph-green {
    
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: center;
    font-size: 1.1em;
    color: white;
    padding-top: 55px;
    padding-left: 100px;
    background: #2FBB00;
    margin-top: 78px;
    
}
.paragraph-green-b {
    width: 688px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: center;
    font-size: 1.1em;
    color: white;
    padding-top: 46px;
    padding-left: 80px;
}
.text-flex {
    
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1em;
    color: #ffffff;
    margin-right: 355px;
}
.graph-tit-a {
    text-align: center;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: bolder;
    padding: 40px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.depicted-machine {
    
   height: 730px;
}
.graph-content {
    
    text-align: center;
    margin: 30px 350px 44px 350px;
}

.machine-figure {
    
    width: 900px;
    height: 440px;
    margin-left: 118px;
}

    
.right-choice {
   width: 1160px;
    height: 656px;
    margin: auto;
    background: black;
}
.lowerlogo-tit {
        
    text-align: center;
    color: #ffff;
    margin-top: 58px;
}
.lowerlogo-info {
    color: #ffff;
    width: 400px;
    margin: 10px 0 10px 418px;
}
.motto-img {
    float: left;
    position: relative;
    left: 242px;
    bottom: 121px;
}

.feature-list-a {
    width: 400px;
    margin: 85px 0 0 147px;
   }

.feature-list-b {
    
    position: relative;
    bottom: 213px;
    right: 60px;
    float: right;
}

.left-side {
    
      color: white;
      width: 250px;
}  
.right-side {
  
    list-style-type: circle;   
    color: white;
    margin: 3px 24px 0 0px;
}


.after-lables {
    
    width: 1160px;
    height: 170px;
    margin: auto;
    background: #2FBB00;
}


.myButton-b  {
  
    position: relative;
    left: 914px;
    bottom: 76px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: .9em;
    font-weight: bold;
    padding: 11px;
    text-decoration: none;  
    }
.myButton-b:hover {
	background-color:#5cbf2a;
}
.footer {
    display: flex;
}
.footer > div {
    
    margin: 10px 10px 10px 50px;
    padding: 10px;
    font-size: .9em;
    flex-basis: 400px;
}
.footer-list, a {
    
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    line-height: 1.6;
    font-size: 1em;
    color: black;
    text-decoration: none;
}
.copy-rights {
    
    text-align: center;
    margin: 33px;
    padding-left: 400px;	
}
.myButton {
    float: right;
    position: relative;
    right: 80px;
    bottom: 65px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: .9em;
    font-weight: bold;
    padding: 11px;
    text-decoration: none;   
}
.myButton:hover {
	background-color:#5cbf2a;
}
.lables {
    
    display: flex;
    flex-flow: row wrap;
    width: 1160px;
    height: 1000px;
}
.lables-list  {
    
    flex-basis: 440px;
    margin: auto;
    padding: 8px;
}
.disc-li-b::first-line {
 
    font-weight: bolder;
    line-height: 2.6;
} 




.percentage {
    
    font-size: 3.2em; 
}
.percentag-25 {
   
    float: right;
    position: relative;
    right: 233px;
    bottom: 324px;
    font-size: 5em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
    

.wrapper {
    
    width: 672px;
    height: 100px;
    float: right;
    position: relative;
    bottom: 325px;    
}
.txt-inside {
    
    position: relative;
    bottom: 270px;
    left: 250px;
    font-weight: bolder;
    font-size: 1.2em;
}
.chart-heading {
    
    position: relative;
    left: 240px;
    bottom: 112px;
    font-weight: bolder;
    font-size: 1em;
}

